<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vacation Booking Form</title>
        <link rel="stylesheet" href="styles/vac-styles.css">
    </head>
    <body>
        <main>
            <header class="hero">
                <h1>Book Your Dream Vacation</h1>
            </header>
            <form id="booking-form" action="/book-vacation" method="post">
                <!-- divs are to help with CSS -->
                <section class="first-row">
                <label>Destination</label>
                <span class="err" id="err-destination">Please select an option.</span>
                <select id="destination" name="destination">
                    <option value="none">Choose a destination</option>
                    <option value="new-york">New York, United States of America</option>
                    <option value="bahamas">Celebration Island, The Bahamas</option>
                    <option value="bucharest">Bucharest, Romania</option>
                    <option value="stuttgart">Stuttgart, Germany</option>
                    <option value="kyoto">Kyoto, Japan</option>
                </select>
                </section>

                <section class="second-row">
                <div class="depart">
                <label for="date">Departure Date</label>
                <input type="date" id="date" name="date">
                </div>
                <div class="travel">
                <label for="travelers">Number of Travelers</label>
                <input type="number" id="travelers" date="travelers">
                </div>
                </section>
                <button type="submit" id="submit-button" name="submit">Find My Vacation</button>
            </form>
        </main>
        <footer>
            <a href="https://github.com/plageous"><strong>Check out my GitHub!</strong></a>
        </footer>
    </body>
</html>